<form method="post" action="/usuario/inserir">
    <label for="COD_USUARIO">Código do Usuário:</label>
    <input type="text" id="COD_USUARIO" name="COD_USUARIO" required /><br><br>

    <label for="MATRICULA">Matrícula:</label>
    <input type="number" id="MATRICULA" name="MATRICULA" required /><br><br>

    <label for="SENHA">Senha:</label>
    <input type="password" id="SENHA" name="SENHA" required /><br><br>

    <label for="EMAIL">E-mail:</label>
    <input type="email" id="EMAIL" name="EMAIL" required /><br><br>

    <label for="NIVEL">Nível:</label>
    <input type="number" id="NIVEL" name="NIVEL" required /><br><br>

    <label for="CARGO">Cargo:</label>
    <input type="text" id="CARGO" name="CARGO" required /><br><br>

    <label for="NOME">Nome:</label>
    <input type="text" id="NOME" name="NOME" required /><br><br>

    <button type="submit">Cadastrar</button>
</form>
